// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: sans-serif;
  color: #333;
}

.container {
  max-width: 600px;
  margin: auto;
}

.sticker {
  width: 505px;
  padding: 5px;
  img {
    border: solid 1px #ccc;
  }
}
